.custom-pagination {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
}

.custom-pagination-item {
     background-color: #007bff;
     color: #fff;
     border: 1px solid #007bff;
}

.custom-pagination-item.active {
     background-color: #0056b3;
     border-color: #0056b3;
}